<div class="container mt-5">
  <p>Enviaremos un código de verificación a tu email</p>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Introduce tu Email</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [ngModel]="email()"
        (ngModelChange)="emailChange($event)"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Enviar código</button>
  </form>
</div>
