<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Eon 30 Gallery</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store">Store</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Explora
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/arte-antiguo">Arte hasta el siglo XIX</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/old-masters">Arte de Vanguardias</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/arte-contemporaneo">Arte Contemporáneo</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar arte..."
          aria-label="Search"
        />
        <button class="btn btn-outline-custom" type="submit">Buscar</button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
