<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="password" class="form-label">Introduce tu nueva contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [ngModel]="password()"
      (ngModelChange)="passwordChange($event)"
      required
    />
  </div>

  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Introduce de nuevo tu nueva contraseña</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      [ngModel]="confirmPassword()"
      (ngModelChange)="confirmPasswordChange($event)"
      required
    />

    <div
      *ngIf="nonEqualPassword()"
      class="alert alert-danger mt-2"
      role="alert"
      style="font-size: 0.9em"
    >
      Las contraseñas no coinciden
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!password() || nonEqualPassword()">
    Enviar
  </button>
</form>
